
.nav-ul{
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}
.nav-right{
  text-align: right;
}
.nav-ul li{
  display: inline-block;
  padding: 10px;
}
.logo{
  width:75px;
  float: left;
  margin-top: -13px;
  margin-left: 40px;
}
.nav-ul li a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.footer{
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}
.register, .product{
  margin-left: 30%;
  margin-top:100px;
}
.login{
  margin-top: 100px;
  margin-left: 30%;
}
.input-box{
  padding: 7px;
  display: block;
  margin: 20px;
  border: 1px solid skyblue;
  width: 300px;

}
.appButton{
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}
.invalid-input{
  color:red;
  display: block;
  margin-left: 20px;
  margin-top: -20px;
}
.product-list{
  text-align: center;
  margin-top: 50px;

}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
